<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="b401efe7-2b2f-4dbf-b1cf-105077846264" Publisher="CN=Kirilka Mladenova" Version="1.0.0.7" />
  <Properties>
    <DisplayName>MusicPlayerProject</DisplayName>
    <PublisherDisplayName>Kirilka Mladenova</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="MusicPlayerProject.App">
      <VisualElements DisplayName="MusicPlayerProject" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="MusicPlayerProject" ForegroundText="light" BackgroundColor="#3392ff" ToastCapable="true">
        <DefaultTile WideLogo="Assets\WideLogo.png" ShortName="Music Player" />
        <SplashScreen Image="Assets\SplashLogo.png" BackgroundColor="#3392ff" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.fileOpenPicker">
          <FileOpenPicker>
            <SupportedFileTypes>
              <FileType>.mp3</FileType>
            </SupportedFileTypes>
          </FileOpenPicker>
        </Extension>
        <Extension Category="windows.backgroundTasks" EntryPoint="MusicPlayerProject.App">
          <BackgroundTasks>
            <Task Type="audio" />
          </BackgroundTasks>
        </Extension>
        <Extension Category="windows.search" />
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="videosLibrary" />
    <Capability Name="musicLibrary" />
    <Capability Name="internetClient" />
  </Capabilities>
</Package>